body {
    background-image: url(images/toyStoryWallpaper.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #b2d6fa;
    padding: 40px;
    color: #333;
    font-family: 'Courier New', Courier, monospace;
}

h1,
h2,
p {
    text-align: center;
    margin-bottom: 10px;
}

h2 {
    font-size: medium;
}

form {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
}

fieldset {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

legend {
    color: #0077cc;
}

label {
    display: inline-block;
    margin-top: 10px;
}
.style,
select,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.inline {
    display: inline-flex;
    padding: 10px;
}

.desactivado {
    color: rgb(156, 156, 156);
    text-align: left;
}

a {
    color: #0077cc;
}

span {
    color: red;
}

.pieFormulario {
    text-align: center;
}

.index {
    text-align: center;
    background-color: rgb(255, 255, 255, 0.85);
    border-radius: 8px;
    max-width: 800px;
    margin: auto;
}
