body {
    background-image: url(images/kitchen.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    color: brown;
    opacity: 0.85;
    font-family: Arial, Helvetica, sans-serif;
}

label,
input,
button,
select {
    margin: 10px;
}